<launch>
  <node cwd="node" name="rosbag_node" pkg="rosbag" type="record"
	output="screen" args="-o $(find aauship_control) /imu /gps1 /kf_statesnew /lli_input"/>

  <node cwd="node" name="ahrs_mahony_node" pkg="aauship_control" type="ahrs-mahony-node" output="screen"/>

  <node cwd="node" name="kalmanfilter_node" pkg="aauship_control" type="kalmanfilter-node.py" output="screen"/>

  <node cwd="node" name="KF_attitude_node" pkg="aauship_control" type="KF_attitude_node" output="screen"/>

  <node cwd="node" name="lqr_node" pkg="aauship_control" type="lqr_node" output="screen"/>
</launch>