<launch>
  <!--node cwd="node" name="rosbag_node" pkg="rosbag" type="record"
  output="screen" args="-o $(find aauship_control)/bags /kf_states /imu /gps1 /lli_input"/-->

  <node cwd="node" name="lli_node" pkg="aauship_control" type="lli-node.py" output="screen"/>
  <node cwd="node" name="sensor_node" pkg="aauship_control" type="sensor-node.py" output="screen"/>
  <node cwd="node" name="ahrs_mahony_node" pkg="aauship_control" type="ahrs-mahony-node" output="screen"/>
  <!--node cwd="node" name="kalmanfilter_node" pkg="aauship_control" type="kalmanfilter-node.py" output="screen"/-->
  <node cwd="node" name="kalmanfilter_node" pkg="aauship_control" type="kalmanfilter-node.py" output="screen"/>
  <node cwd="node" name="lqr_node" pkg="aauship_control" type="lqr_node" output="screen"/> 
</launch>
