<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="KukaRoboter.SmartHMI.ViewConfiguration" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser"/>
    <section name="KukaRoboter.SmartHMI.Menu" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser"/>
    <section name="KukaRoboter.SmartHMI.WebBrowserConfiguration" type="Ade.Internal.ConfigurationSectionHandler, Ade.ComponentsImpl" allowExeDefinition="MachineToLocalUser" />
  </configSections>

  <!-- View configuration -->
  <KukaRoboter.SmartHMI.ViewConfiguration
  type="KukaRoboter.SmartHMI.UIFramework.ViewManager.ViewConfiguration, SmartHMI">
    <View SystemName="MessageHelpIndexEKI" Caption="Help#MessageHelpViewCaption"
    Type="KukaRoboter.SmartHMI.PlugIns.WebBrowser.WebBrowserView, SmartHMI"
    ViewModel="KukaRoboter.SmartHMI.PlugIns.WebBrowser.WebBrowserViewModel" Display="Main" />
    <View SystemName="DocumentationIndexEKI" Caption="Help#OnlineDocViewCaption"
    Type="KukaRoboter.SmartHMI.PlugIns.WebBrowser.WebBrowserView, SmartHMI"
    ViewModel="KukaRoboter.SmartHMI.PlugIns.WebBrowser.WebBrowserViewModel" Display="Main" />
  </KukaRoboter.SmartHMI.ViewConfiguration>

  <!-- Menu configuration -->
  <KukaRoboter.SmartHMI.Menu type="KukaRoboter.SmartHMI.UIFramework.Menu.MenuRootImpl, SmartHMI">
    <MenuRoot SystemName="MainMenu">
      <MenuFolder DisplayName="MenuBar#Help" SystemName="Help" MergeOrder="700">
        <MenuFolder DisplayName="MenuBar#Messages" SystemName="HelpMessages" MergeOrder="200">
          <MenuItem DisplayName="EthernetKRL" MergeOrder="100">
            <CommandCall Target="WebBrowser.Navigate">
              <Argument Name="RootConfiguration">MessageHelpIndexEKI</Argument>
            </CommandCall>
          </MenuItem>
        </MenuFolder>
        <MenuFolder DisplayName="MenuBar#Documentation" SystemName="HelpDocumentation" MergeOrder="500">
          <MenuItem DisplayName="EthernetKRL" MergeOrder="100">
            <CommandCall Target="WebBrowser.Navigate">
              <Argument Name="RootConfiguration">DocumentationIndexEKI</Argument>
            </CommandCall>
          </MenuItem>
        </MenuFolder>
      </MenuFolder>
    </MenuRoot>
  </KukaRoboter.SmartHMI.Menu>

  <!-- WebBrowser configuration -->
  <KukaRoboter.SmartHMI.WebBrowserConfiguration
  type="KukaRoboter.SmartHMI.PlugIns.WebBrowser.RootConfigurationCollection, SmartHMI">
    <RootConfigurations>
      <MultiCultureBrowserRoot SystemName="MessageHelpIndexEKI"
      UrlFormatString="C:\KRC\Help\{0}\index_EthernetKRL_V2.2.htm" />
      <MultiCultureBrowserRoot SystemName="DocumentationIndexEKI"
      UrlFormatString="C:\KRC\Help\{0}\doc_EthernetKRL_V2.2_KSS.htm" />
    </RootConfigurations>
  </KukaRoboter.SmartHMI.WebBrowserConfiguration>

</configuration>