<launch>
  <node name="rosbag_node" pkg="rosbag" type="record" output="screen"
	args="-o $(find aauship)/bags/single-simulation /attitude /imu /gps1 /lli_input"/> 
	<node cwd="node" name="simulation_node" pkg="aauship" type="simulation-node.py" output="screen"/>
  <node cwd="node" name="ahrs_mahony_node" pkg="aauship" type="ahrs-mahony-node" output="screen"/>
  <node cwd="node" name="kalmanfilter_node" pkg="aauship" type="kalmanfilter-node.py" output="screen"/>
</launch>
